<template>
    <!-- <require from="../home.css"></require> -->
    <button class="btn btn-primary" click.trigger="newMovie()" style="margin-bottom:10px;">Create Movie</button>
    <table class="table">
        <thead>
            <tr>
                <!-- <th colspan="3">
                    <div class="checkbox leftMargin"><label><input checked.bind="isCheckedCompleted" type="checkbox">
                            Filter out Completed Movies</label></div>
                </th> -->
            </tr>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Status</th>
                <th scope="col">Watch Date</th>
                <th scope="col">Plan Date</th>
                <!-- <th scope="col">Movie Detail</th> -->
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="Movie of Movie.MoviesArray">
                <td scope="row" click.delegate="editMovie(Movie)">${Movie.Movie}</td>
                <td><select change.delegate="updateMovie(Movie)" value.bind="Movie.status" class="form-control"
                        id="MovieStatus">
                        <option repeat.for="status of statuses" value.bind="status">${status}</option>
                    </select></td>
                <td>${Movie.dateWatched | dateFormat}</td>
                <td>${Movie.datePlanned | dateFormat}</td>
                <td>
                    <button click.trigger="deleteMovie(Movie)" onClick="window.location.href=window.location.href" type="button" class="btn btn-danger btn-sm">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
</template>
